name: Package Shell

on:
  workflow_dispatch:
    inputs:
      manifest_json:
        description: 'Content of manifest.json'
        required: false
        type: string
      manifest_path:
        description: 'Path to manifest.json in repo (if manifest_json is empty)'
        required: false
        default: 'manifests/dev.manifest.json'

jobs:
  package:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Package
      shell: pwsh
      env:
        MANIFEST_JSON: ${{ inputs.manifest_json }}
        MANIFEST_PATH: ${{ inputs.manifest_path }}
        WORKSPACE: ${{ github.workspace }}
      run: |
        $params = @{
            OutputPath = "$env:WORKSPACE\WeLauncher.zip"
        }
        
        if (-not [string]::IsNullOrWhiteSpace($env:MANIFEST_JSON)) {
            $params['ManifestJson'] = $env:MANIFEST_JSON
        } elseif (-not [string]::IsNullOrWhiteSpace($env:MANIFEST_PATH)) {
            $params['ManifestPath'] = Join-Path $env:WORKSPACE $env:MANIFEST_PATH
        }

        ./tooling/package-shell.ps1 @params

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: WeLauncher
        path: ${{ github.workspace }}\WeLauncher.zip
